.navbar-brand {
    display: block !important;
    font-size: 3vh !important;
    color: #DADFE1 !important;
    padding-top: 0vh !important;
    padding-left: 0.5vw !important;

}
.navbar-expand-lg {
    min-height:8vh !important;
}

#black-body {
    background-color: black;
    min-height: 92vh;
}
.nav-link {
    color: #D2D7D3 !important;
    font-size: 1.6vh;
     /*padding-left: 1vw !important;*/
 }

.vis-network {
    height: 92vh !important;
}
